* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: calc(1em * .625);
  color: #4d4d4d;
  background-color: #f0e5cf;
}
body {
  font-size: 1.4em;
}
.wrapper {
  width: 860px;
  margin: 0 auto;
}
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.grey {
  color: #888;
}
sup {
  font-size: .5em;
}
h1 {
  text-align: center;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  color: #4d4d4d;
}
nav {
  display: table;
  width: 100%;
  background-color: #000;
}
nav > a,
nav ul {
  display: table-cell;
  vertical-align: middle;
}
nav ul {
  margin: 0;
  padding-right: 2em;
  list-style-type: none;
  text-align: right;
}
nav li {
  padding: 1em 0.5em;
  display: inline-block;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav img {
  display: block;
}
header .wrapper {
  text-align: center;
}
header h1 {
  margin-bottom: 0.3em;
  font-size: 3em;
}
header h2 {
  font-size: 1.3em;
  font-weight: normal;
}

.hero {
  margin: 2em 0;
  padding: 1em;
  background-color: #fff;
}
.hero h3 span {
  display: block;
  text-transform: none;
}
.hero > p:first-child {
  margin-bottom: 2em;
}
.hero img {
  display: block;
  margin: 1em auto;
}

section {
  position: relative;
  padding-top: 1px;
  margin-top: 3em;
}
section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 50%;
  height: 2px;
  background-color: #000;
}
main h1 {
  font-size: 2.5em;
}
#presentation img {
  margin: auto;
}
#calendrier div {
  margin-bottom: 1em;
}
#calendrier h1 + p {
  margin-top: -1.8em;
  margin-bottom: 2em;
}
#calendrier h2 {
  margin-bottom: 0.2em;
  display: inline;
}
#calendrier h2 + span {
  font-size: 1.5em;
}
#calendrier h3 {
  margin: 0.5em 0;
}
#contact {
  padding-bottom: 2em;
  text-align: center;
}
#contact a {
  display: block;
  margin-bottom: 1em;
}

.back-to-top {
  position: fixed;
  bottom: 1em;
  left: 1em;
  display: block;
  width: 32px;
  height: 32px;
  background:  url(../img/arrow.svg) 0 0 no-repeat;
  -webkit-background-size: 32px;
  background-size: 32px;
  text-indent: -9999px;
  transform: rotate(90deg)
}

figure {
  margin: 0;
}
figcaption {
  font-size: 16px;
}

@media screen and (max-width: 62rem) {
  .wrapper {
    width: 100%;
    padding: 0 1em;
  }
  header .table > div {
    width: 100%;
    display: block;
    text-align: center;
  }
  header .table > div:last-child {
    text-align: center;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .back-to-top {
    display: none;
  }
}

@media screen and (max-width: 48rem) {
  nav ul {
    text-align: left;
  }
  nav li {
    padding: 0.5em;
  }
  header h1,
  main h1 {
    font-size: 12vw;
  }
}
